# .gitignore for root_ptr, ignoring all generated docs and log files.
* Ignore all log files in any folder in the sub-module.
/**/*.log
doc/html/boost
doc/html/boost_root_ptr
doc/html/header
doc/html/std
doc/html/standalone_HTML.manifest
doc/html/*.html
doc/doxygen/html
* latex should not be generated if setting in doxyfile is correct (but is the default).
doc/doxygen/latex/
#  Also ignore the results of Boost Inspect program that check for bad html links in documentation.
doc/inspect.htm
doc/inspect.html
# Generated xml before html is derived.
doc/autodoc.xml

# Files that we DO want in GIT.
# Do not ignore the redirect from /doc/index.html to doc/html/index.html
!doc/index.html
# Do not ignore root_ptr.css (until this is automatically copied to doc/html/)
!doc/root_ptr.css
!doc/boostbook.css
!doc/html/root_ptr.css
!doc/html/boostbook.css
